<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script type="text/javascript" src="/scripts.js"></script>
    <link rel="stylesheet" href="/styles.css">
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
</head>
<div class = center>
    <a id="showLoginButton" alt="View all games" title="View all games" onclick="showLoginLogout()">Login</a>
    <h1><%= title %></h1>
</div>
<body>
    <table class="center mainColor">
        <tr>
            <th>Games</th><th>Highest score</th><th>Record holder</th>
        </tr>

        <% for (var i = 0; i < games.length; i++) { %>
            <tr class="contentRow" onclick="document.location='/game/<%= games[i].game_id %>'">
                <td class="center"><%= games[i].game_name %></td>
                <td><%= games[i].score %></td>
                <td><%= games[i].player_name %></td>
                <td class="hiddenAdmin removebutton" alt="Remove Game" title="Remove Game" onclick="removeOldGame(event, <%= games[i].game_id %>)">X</td>
            </tr>
        <% } %>
        <% if (games.length === 0) { %>
            <tr>
                <td></td><td>No games added</td>
            </tr>
        <% } %>
        <tr id="addNew" class="hiddenAdmin">
            <td>Add new</td>
            <td><input type="text" id="newGame" class="tableInput" placeholder="Game name..." required></td>
            <td><button id="submitButton" onclick="addNewGame()">Add</button></td>
        </tr>
    </table>

    <div id="loginForm" style="display: none" class="center mainColor">
        <div id="loginFormWindow">
            <input id="username" type="text" class="loginInput" placeholder="Username">
            <input id="password" type="password" class="loginInput" placeholder="Password">
            <button id="loginButton" onclick="sendLogin()">Login</button>
        </div>
    </div>
</body>
</html>